<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">MLVC</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {{'active' if active_page == 'home' }}">
          <a class="nav-link" href="/home">Home</a>
        </li>
        <li class="nav-item {{'active' if active_page == 'company' }}">
          <a class="nav-link" href="/company">Company</a>
        </li>
        <li class="nav-item {{'active' if active_page == 'predict' }}">
          <a class="nav-link" href="/predict">Predict</a>
        </li>
        <li class="nav-item {{'active' if active_page == 'unsupervised' }}">
          <a class="nav-link" href="/unsupervised">Unsupervised</a>
        </li>
      </ul>
    </div>
  </nav>
</header>